<div 
  class="relative flex items-center bg-black/20 rounded-full p-1 cursor-pointer w-44 h-10 border border-white/5 transition-all shadow-inner" 
  (click)="toggle()"
  [class.opacity-50]="disabled"
  [class.pointer-events-none]="disabled">
  
  <!-- Background slider -->
  <div class="absolute bg-[rgb(var(--color-primary))] shadow-lg rounded-full h-8 w-[calc(50%-4px)] transition-all duration-500 ease-in-out"
       [style.transform]="(options.length === 2 ? activeOption === options[1].value : value) ? 'translateX(100%)' : 'translateX(0)'">
  </div>

  <!-- Opzione 1 (Sinistra) -->
  <div class="flex-1 text-center z-10 text-[10px] font-black uppercase tracking-widest transition-colors duration-500"
       [class.text-[rgb(var(--color-bg-base))]]="!(options.length === 2 ? activeOption === options[1].value : value)"
       [class.text-gray-500]="(options.length === 2 ? activeOption === options[1].value : value)">
    {{ options.length === 2 ? options[0].label : i18nService.translate('COMMON.INACTIVE') }}
  </div>

  <!-- Opzione 2 (Destra) -->
  <div class="flex-1 text-center z-10 text-[10px] font-black uppercase tracking-widest transition-colors duration-500"
       [class.text-[rgb(var(--color-bg-base))]]="(options.length === 2 ? activeOption === options[1].value : value)"
       [class.text-gray-500]="!(options.length === 2 ? activeOption === options[1].value : value)">
    {{ options.length === 2 ? options[1].label : i18nService.translate('COMMON.ACTIVE') }}
  </div>
</div>
