
.label {
  @apply block  font-medium text-gray-700 mb-1;
}

.input {
  @apply block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}

.error-text {
  @apply text-xs text-red-600 mt-1;
}

.button-primary {
  @apply px-4 py-2 text-sm font-medium text-white bg-indigo-600 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.button-secondary {
  @apply px-4 py-2 text-sm font-medium text-gray-700 bg-gray-200 rounded-md hover:bg-gray-300;
}

.button-danger-sm {
  @apply px-2 py-1 text-xs font-medium text-white bg-red-600 rounded-md hover:bg-red-700;
}

.button-secondary-sm {
  @apply px-2 py-1 text-xs font-medium text-gray-700 bg-gray-200 rounded-md hover:bg-gray-300;
}
