
/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

/* Theme variables definition */
@layer base {
  /* Default Theme: Coder */
  :root {
    --color-primary: 115 239 105; /* Verde Acido */
    --color-accent: 219 39 119;  /* Magenta Elettrico */
    --color-text: 115 239 105;   /* Verde Acido */
    --color-bg-base: 0 0 0;        /* Nero */
    --color-bg-surface: 17 24 39; /* Grigio/Nero Scuro (per card, sidebar) */
  }

  .theme-light {
    --color-primary: 79 70 229;   /* Indigo */
    --color-accent: 219 39 119;  /* Pink */
    --color-text: 31 41 55;      /* Grigio Scuro */
    --color-bg-base: 243 244 246; /* Grigio Chiaro */
    --color-bg-surface: 255 255 255; /* Bianco */
  }

  .theme-dark {
    --color-primary: 129 140 248; /* Indigo Chiaro */
    --color-accent: 244 114 182; /* Pink Chiaro */
    --color-text: 229 231 235;   /* Grigio Chiaro */
    --color-bg-base: 17 24 39;    /* Grigio/Nero Scuro */
    --color-bg-surface: 31 41 55; /* Grigio Scuro */
  }
}
